#tableCust tbody tr.selected {
	color: white;
	background-color: #9FA8DA;
}

.table>thead>tr>th {
	border-right: 1px solid #ddd;
	border-bottom: 0;
}

.table>tbody>tr>td {
	border-right: 1px solid #ddd;
}

.table>thead>tr>th:last-of-type {
	border-right: 0px;
}

.table>tbody>tr>td:last-of-type {
	border-right: 0px;
}

.panel-body {
	margin-left: 21px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}

.panel-body>.table {
	margin-bottom: 0px;
}